body{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/975/55/desktop-wallpaper-login-page-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    color: antiquewhite;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    background-color: gray;
    size: 300px;
    margin: 20px;
    font-size: 30px;
}
#result{
    font-size: large;
    color: chartreuse;
}
#choose{
    font-size: 30px;
    color: yellow
}

